*{
    margin: 0;
    padding: 0;
}

#home{
    height: 100vh;
    background-image: url("../image/home-banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    height: 50px;
}
#drop ul li:hover a{
    color: black !important;
}
 #expertise{
    min-height: 95vh;
} 
#work
{
    height: 100vh;
}
#experience{
    min-height: 90vh;
}
#expertise p{
    font-size: 15px;
}
.fields{
    box-shadow: 12px 12px 8px 8px rgba(0, 0, 0, 0.3);
}
.socials{
    position: fixed;
    top: 35%;
    left: 0;
    padding-left: 8px;
    z-index: 5000;
}
/* .socials ul li{
    display: block;

} */

#footer{
    height: 100px;
    padding-left: 20px;
}
.under{
    text-decoration: none;
}
#footer .under{
    font-size: 12px;
}
#footer p{
    font-size: 12px;

}
.under:hover{
    text-decoration: underline;
    /* color: black !important; */
}
.menu li{
    display: block;
    min-width: 60px;
    margin: 10px;
    text-align: center;
}
.menu ul li .active{
    background-color: white;
    color: black !important;
}
.menu li:hover{
background-color: aliceblue;

}
a:hover{
    text-decoration: underline;
}


.side-bar{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 99vh;
    width: 0%;
    z-index: 10000;
}

.side-menu {
    margin-top: 20px;
}
.side-bar button{
    width: 100% !important;
}
.side-menu li{
    width: 100%;
    display: block;
   height: 30px;
   padding-left: 8px;
    transition: .2s ease-in-out;
}
.side-menu li a{
    text-decoration: none;
    color:white;
    width: 100%;
    display: block;
}
.side-menu li:hover a{
    color:black
}
@media screen and (max-width: 768px) {
 
    

}
